*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'OpenSans';
}
body{
    background-color:#F3F4F5 !important;
}
.container{
    max-width:1280px;
    min-height:100px;
    position: relative;
    
}
#logo{
   width:145px;
   height:33px;
    float:left;
    margin-right:20px;
}
.text{
    display:block;
    float:left;
    font-size:20px;
    color:#F37037;
    line-height: 30px;
    
}
.header{
    background:#404142;
    min-height: 66px;
    padding:10px;
}
.headerTwo img{

    width:100%;
    height: auto;
}
.headerTwo{
    padding:0;
    position:relative;
}
#btn{
    width:147px;
    height:32px;
    background-color:#F37037;
    color:white;
    line-height: 20px;
    position: absolute;
    right:4.5%;
    top:37%;
    border:none;
    cursor: pointer;
}
.number{
    font-size:19px;
    color:rgb(160, 162, 162);
    display: inline-block;
    margin-top:5px;
    margin-bottom: 10px;
    padding-bottom: 0px;
    border-bottom: 1px solid rgb(160, 162, 162);
    height: 35px;
    
   
}

.number p{
    float:left;
}

.tableHead{
    color:rgb(160, 162, 162);
    font-size:14px;
}
.account{
    color:rgb(160, 162, 162);
    font-size:14px;
    background: white;
    overflow-wrap: break-word;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 3px;
}
.name{
    color:black;
}
.modal{
    display: block;
    font-size:14px;
    
}
.modal-content{
    max-width:450px;
}
.modal-header{
    padding:15px;
    padding-bottom:5px;
}
.modal-title{
    font-size:16px;
    margin-bottom:10px;
    padding-bottom:0;
}
.modal-body{
    padding: 15px;
    padding-top:2px;
    
}
.modal-body p,input{
    margin-bottom:0;
    font-size:11px;
    color:rgb(160, 162, 162);
    padding:5px;
    padding-top:2px;
    

}
.modal-body input{
    width:48%;
    color:black;
}
#email{
    width:100%;
}
.modalStyle div{
    border-bottom:none;
  
    /* padding:5px; */

    font-size:16px;
}
.modalStyle{
    background-color:#F3F4F5 !important;
}
#accountNames{
    color:black;
}
.modal-footer{
    border:none;
}
.error{
    border:1px solid red;
}
#emailError{
    color:red;
    font-size:12px;
    margin:2px;
}
#save{
    background-color:#F37037;
    width:100px;
    height:30px;
    font-size:14px;
    text-align:center;
    line-height: 15px;
}
#close{
    width:100px;
    font-size:14px;
    text-align:center;
    line-height: 15px;
}
@media screen and (min-width:300px) and (max-width:900px){
    #logo{
        float:none;
        display:block;
        margin:0 auto;
    }
    .header{
        text-align: center;
    }
    .text{
        float:none;
        display:block;
        margin:0 auto;

    }
    .headerTwo img{
        display: none;
    }
    .tableHead{
        display:none;
    }
    
    .btn{
        position:relative;
        display:block;
        margin: 0 auto;
        margin-left:38%;
        margin-bottom: 50px;
    }

}