<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GlobalLogic</title>
    
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
</head>
<body>
    <div class="container" id="container">
        <div class="row header">
                <div class="col-md-4">
                    <img id="logo" src="img/logo.svg">
                    <p class="text">Test Bunch</p>
                </div>
            </div>
        <div class="row">
            <div class="col-md-12 headerTwo">
             <img src="img/123.jpg">
             <button 
             type="button"
             id='btn'
             @click="modalVisibility=true"
             
             >Create Account</button>
            </div>
           
        </div>
        <div class="table">
           <div class="row">
               <div class="col-md-12 number"><p>Number of AD Accounts:</p><p id="number">{{info.length}} </p></div>
               
               
           </div>
        
            <div class="row tableHead pb-3">
                <div class="col-md-1">Name</div>
                <div class="col-md-2">Account Name</div>
                <div class="col-md-2">E-mail</div>
                <div class="col-md-2">Creator</div>
                <div class="col-md-1">Status</div>
                <div class="col-md-1">Start Date</div>
                <div class="col-md-2">Expiration Date</div>
                <div class="col-md-1"></div>
                
            </div>
            <div 
            v-for="obj in info"
            
            
            class="row account">
                <div class="col-md-1 name">{{obj.name}}</div>
                <div class="col-md-2 accountName">{{obj.account_name}}</div>
                <div class="col-md-2 e-mail">{{obj.email}}</div>
                <div class="col-md-2 creator">{{obj.creator}}</div>
                <div class="col-md-1 status"><p id="status">{{obj.status}}</p></div>
                <div class="col-md-1 startDate">
                    
                    
                    {{timeConverter(obj.start_date)}}
                
                
                
                
                </div>
                <div class="col-md-2 expirationDate">{{timeConverter(obj.expiration_date)}}</div>
                <div class="col-md-1"></div> 
            </div>
       
        </div>
        
        <div class="modal fade show" 
        v-if="modalVisibility"
        tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content modalStyle">
                <div class="modal-header">
                  <h5 class="modal-title"> Create AD Account</h5>
                  <button type="button" 
                  @click="modalVisibility=false"
                  class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Name</p>
                  <input 
                  v-on:blur="value"
                  type="text" class="firstName" id="name" placeholder="First Name" value="" >
                  <input
                  v-on:blur="value"
                  type="text" id="name2" placeholder="Surname" >
                  <p>Account Name (generated automatically)</p>
                  <p id="accountNames">Firstname.Surname</p>
                  <p>e-mail</p>
                  <input 
                  v-on:blur="emailValidation(info)"
                  type="email" id="email" placeholder="user@company.com">
                  <p id="emailError"></p>
                </div>
                <div class="modal-footer">
                    <button 
                    @click="modalVisibility=false"
                    id="close" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button data-dismiss="modal"type="button" class="btn btn-primary" id="save">OK</button>

                </div>
              </div>
            </div>
          </div>
          <div class="modal-backdrop fade show"
          v-if="modalVisibility"
          ></div>
        </div>

 
        
        
    
    <script src="js/main.js"></script>
   
</body>
</html>